.contatoForm {
    max-width: 400px;  
    margin: 20px auto;  
    padding: 20px;  
    border: 1px solid #ccc;  
    border-radius: 8px;  
    background-color: #f9f9f9;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  h2{
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px; 
    font-weight: bold;
  }
  
  input, mat-radio-group {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  button {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px; 
    padding: 10px 15px;
    cursor: pointer; 
    transition: background-color 0.3s;
    margin: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  